
extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          | Mekanbul 
          small &nbsp; Cvardaki Mekanları Bul
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 10km
        p.adress Centrum Garden AVM
        p
          span.label.label-warning Dünya Kahveleri
          | &nbsp;
          span.label.label-warning Kaliteli
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Bilgisyar Müh.
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 6km
        p.adress IyaşPark Avm
        p
          span.label.label-warning Web teknolojileri
          | &nbsp;
          span.label.label-warning Uygun
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item      
        h4 
          a(href='/mekan') D&R
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 6km
        p.adress Isparta
        p
          span.label.label-warning Kitaplar
          | &nbsp;
          span.label.label-warning Ücretsiz inceleme