doctype html
html
  head
    meta(name='vieport',content='width-device-width,initial-scales=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    block content
  script(src='/javascripts/jquery-3.6.1.min.js')
  script(src ='bootstrap/js/bootstrap.min.js')
